form {
    display: inline-block;
}

.formline {
    margin-top: 15px;
}

.form-btn-group {
    margin-left: 100px;
}

.form-info {
    padding: 10px 0px;
    margin-left: 100px;
    font-size: 13px;
    color: #aaa;
}

.field {
    display: inline-block;
    width: 100px;
    padding-right: 10px;
    text-align: right;
    height: 35px;
    line-height: 30px;
    color: #666;
}